# Laravel
*.log
.env
.env.backup
.env.production
.phpunit.result.cache
/vendor
/node_modules
/public/build
/public/hot
/public/storage

# Database
/database/database.sqlite
/database/*.sqlite

# Storage (uploaded files)
/storage/*.key
/storage/app/public/
/storage/pail

# Sessions & Cache
/bootstrap/cache/*.php

# Testing
/.phpunit.cache
/phpunit.result.cache

# IDE & Editor
/.fleet
/.idea
/.nova
/.vscode
/.zed
/auth.json
.phpactor.json

# OS
.DS_Store
Thumbs.db

# Misc
Homestead.json
Homestead.yaml
